extends layout

block content
  h1= title
  p This will display some #{title} information.
  button(type="button", class="btn btn-secondary") Show Hats

  br
  br

  
  div.container-fluid
    div.row
      -
        let items = results
        
      each item,index in results
        .col-sm-2(onclick=`buy(${index})`)
          p hats Type: #{item.hats_type}
          p Size: #{item.size}
          p Price: $#{item.price.toFixed(2)}

  a(href="/") Back to index
  script.
    function buy(index) {
        alert(`You purchased item ${index}`);
    }